/* stylelint-disable string-quotes */
@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';

body {
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
}

.app {
    height: 100vh;
    width: 100vw;
    background: var(--bg-color);
}

.app_redesigned {
    height: 100vh;
    width: 100vw;
    background: var(--background-redesigned);
}

.body {
    display: flex;
    flex-direction: row;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scroll-bar-track {
    background-color: var(--inverted-bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}
