/* stylelint-disable declaration-colon-newline-after */
/* stylelint-disable string-quotes */
:root {
    // Fonts
    --font-size-s: 12px;
    --font-line-s: 20px;
    --font-s-redesigned: var(--font-size-s) / var(--font-line-s)
        var(--font-family-text-redesigned);
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m-redesigned: var(--font-size-m) / var(--font-line-m)
        var(--font-family-text-redesigned);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l-redesigned: var(--font-size-l) / var(--font-line-l)
        var(--font-family-title-redesigned);
    --font-family-title-redesigned: 'Roboto', sans-serif;
    --font-family-text-redesigned: 'Nunito Sans', sans-serif;

    // Sizes
    --size-navbar-height: 50px;
    --size-sidebar-width: 250px;
    --size-sidebar-width-collapsed: 90px;

    // Colors
    --color-white: #e2eef1;
    --color-dark: #141c1f;
    --color-overlay: rgba(0 0 0 / 50%);
    --color-red: #ef0e0e;
    --color-gray: #d4d4d4;

    // Z-indexes
    --z-index-modal: 100;
    --z-index-overlay: 90;
}
