.container {
    height: calc(100vh - var(--size-navbar-height));
    width: var(--size-sidebar-width);
    background-color: var(--inverted-bg-color);
    position: relative;
    padding: 30px;
}

.containerRedesigned {
    position: absolute;
    left: 30px;
    padding: 30px;
    width: 250px;
    height: 95%;
    border-radius: 32px;
    background: var(--background-light-redesigned);
}

.switchers {
    position: absolute;
    bottom: 30px;
}

.collapsed {
    width: var(--size-sidebar-width-collapsed);
}
