.container {
    height: calc(100vh - var(--size-navbar-height));
    width: var(--size-sidebar-width);
    background-color: var(--inverted-bg-color);
    position: relative;
    padding: 30px;
    transition: width 0.2s;
}

.switchers {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    position: absolute;
    bottom: 30px;
}

.collapsed {
    width: calc(var(--size-sidebar-width-collapsed) + 10px);
}
