.container {
    width: 100%;
    height: calc(100vh - 100px);
}

.list {
    width: 100%;
}

.itemsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 30px;
}

.itemContainer {
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 0 30px;

    @media (max-width: 1024px) {
        width: 50%;
    }

    @media (max-width: 300px) {
        width: 100%;
    }
}
