.item {
    width: 150px;
    align-items: flex-start;
    display: flex;
    padding: 15px 20px;
    border: none;
    background: none;
    outline: none;
    color: var(--text-primary-color);
    font: var(--font-m-redesigned);
    cursor: pointer;
}
