@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    height: 100vh;
    width: 100vw;
}
