.container {
    min-height: calc(100vh - var(--size-navbasr-height));
    padding-bottom: 30px;
}

.mainImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.title {
    b {
        font-size: 54px;
        line-height: 64px;
    }
}
