:root,
.app_dark_theme {
    --background-dark-redesigned: #090f11;
    --background-redesigned: #0c1214;
    --background-light-redesigned: #151c1f;
    --text-redesigned: #dbd8d8;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a1b2;
    --accent-redesigned: #5ed3f3;
    --skeleton-color: var(--background-light-redesigned);
    --code-background-color: #23262f;
}
