:root,
.app_dark_theme {
    // Main colors
    --bg-color: #2f3940;
    --inverted-bg-color: #292323;
    --third-bg-color: #ebebeb;
    --primary-color: var(--inverted-bg-color);
    --secondary-color: #bcbcbc;

    // Text
    --text-primary-color: #f2ebeb;
    --link-primary-color: #ced3d6;
    --link-secondary-color: rgb(199 201 204);
    --inverted-link-primary-color: #ced3d6;
    --inverted-link-secondary-color: #62686f;

    // Buttons
    --button-primary-background: var(--link-primary-color);
    --button-primary-text: var(--bg-color);
    --button-secondary-text: var(--link-primary-color);
    --button-secondary-background: var(--bg-color);

    // Skeleton
    --skeleton-color: var(--inverted-bg-color);

    // Code
    --code-background-color: #23262f;

    // redesigned:
    --background-dark-redesigned: #090f11;
    --background-redesigned: #0c1214;
    --background-light-redesigned: #151c1f;
    --text-redesigned: #dbd8d8;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a1b2;
    --accent-redesigned: #5ed3f3;
}
