:root,
.app_light_theme {
    --bg-color: #fff;
    --inverted-bg-color: #f4f9fb;
    --primary-color: #002a38;
    --secondary-color: #000f0f;
    --text-primary-color: #423d3d;
    --link-primary-color: var(--primary-color);
    --link-secondary-color: var(--secondary-color);
    --inverted-link-primary-color: var(--primary-color);
    --inverted-link-secondary-color: var(--secondary-color);
    --button-primary-background: var(--primary-color);
    --button-primary-text: var(--bg-color);
    --button-secondary-text: var(--link-primary-color);
    --button-secondary-background: var(--bg-color);
    --skeleton-color: var(--inverted-bg-color);
}
