.container {
    padding: 40px 5%;
    color: var(--text-primary-color);
    width: 100%;
    height: calc(100vh - var(--size-navbar-height));
    overflow-y: auto;
}

.containerRedesigned {
    height: 90vh;
    overflow-y: auto;
}

.trigger {
    height: 20px;
}
