.container {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    height: 42px;
    display: flex;
    align-items: center;
}

.button {
    font: var(--font-m-redesigned);
    border-radius: 16px;
    padding: 10px;
}

.primary {
    background-color: var(--text-redesigned);
    color: var(--button-primary-text);

    &:hover {
        filter: brightness(1.1);
    }
}

.secondary {
    background-color: var(--button-secondary-background);
    color: var(--button-secondary-text);
    border: 1px solid var(--background-redesigned);

    &:hover {
        background-color: var(--link-secondary-color);
        color: var(--bg-color);
    }
}

.text {
    border: 0;
    color: var(--text-primary-color);

    &:hover {
        filter: brightness(1.1);
    }
}

.disabled {
    opacity: 0.6;

    &:hover {
        cursor: auto;
        filter: brightness(1);
    }
}
