.container {
    width: 100%;
    height: var(--size-navbar-height);
    background: var(--background-dark-redesigned);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.containerRedesigned {
    padding: 16px;
}

.title {
    color: var(--background-redesigned);
}
