.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.icon {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.reverse {
    transform: rotate(0deg);
    transition: transform 0.3s;
}
