.container {
    width: 400px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid var(--bg-color);
    background-color: var(--bg-color);
    padding: 10px;
}

.link {
    width: 100%;
}
