.container {
    display: flex;
    gap: 10px;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    width: 100px;
    height: 40px;
    color: var(--text-primary-color);

    &:hover {
        border-radius: 16px;
        outline: 1px solid var(--hint-redesigned);
        transition: none;
    }
}

.active {
    background-color: var(--background-dark-redesigned);
    border-radius: 16px;
}
