.container {
    outline: 0;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--background-redesigned);
    font-size: var(--font-size-xm-redesigned);

    :active {
        border: 0;
        outline: 0;
    }
}
